<launch>
    <!-- shell script -->
    <arg name="simulation" default="false" />
    <arg name="airsim" default="false" />
    <arg name="gazebo" default="false" />
    <group if="$(arg simulation)">
		<param name="use_sim_time" value="true" />
	</group>


    <!-- mavros px4 -->
    <arg name="fcu_url" default="/dev/ttyACM0:57600"/>
    <!-- <arg name="fcu_url" default="/dev/ttyPixhawk"/> -->

    <!-- mavros_offb_node  -->
	<arg name="setpoint_pub_interval" default="0.05" />
    <arg name="init_gps_lat" default="37.5445466424" />
    <arg name="init_gps_lon" default="127.079172409" />
    <arg name="init_gps_alt" default="47.0" />
    <arg name="is_debug_mode" default="false" />

    <!-- etc -->
	<arg name="uav_name" default="PX4" />
	<arg name="ugv_name" default="GV" />
	<arg name="uav_speed" default="6.0" />
	<arg name="dt" default="0.25" />
    
    <!-- generate_waypoints_node -->
	<arg name="global_to_local" default="true" />
	<arg name="distance_threshold" default="1.0"/>
    <arg name="target_wp_pub_interval" default="0.05" />
	<arg name="detected_dead_band" default="0.5" />
	<!-- <arg name="x_offset_m" default="3.0" /> -->
	<arg name="x_offset_m" default="0.0" />
	<arg name="z_offset_m" default="3.5" />
	<arg name="alt_offset_m" default="45.0" />
	<arg name="target_height_m" default="0.0" />
	<arg name="detection_tool_lidar" default="true" />
	<arg name="detection_tool_gps" default="false" />
	<arg name="detection_tool_airsim" default="false" />

	<!-- tf_broadcaster_node -->
	<arg name="is_finding_home" default="false"/>


    <group unless="$(arg simulation)">
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
        </include>
    </group>
    
    <group if="$(arg gazebo)">
        <include file="$(find px4)/launch/mavros_posix_sitl.launch"/>
    </group>

    <group ns="control">
        <node name="mavros_offb_node" pkg="control" type="mavros_offb_node" output="screen">
            <param name="setpoint_pub_interval" value="$(arg setpoint_pub_interval)" />
            <param name="is_debug_mode" value="$(arg is_debug_mode)" />
        </node>

        <node name="generate_waypoints_node" pkg="control" type="generate_waypoints_node" output="screen">
            <param name="x_offset_m" value="$(arg x_offset_m)" />
            <param name="z_offset_m" value="$(arg z_offset_m)" />
            <param name="uav_name" value="$(arg uav_name)" />
            <param name="ugv_name" value="$(arg ugv_name)" />
            <param name="distance_threshold" value="$(arg distance_threshold)" />
            <param name="target_wp_pub_interval" value="$(arg target_wp_pub_interval)" />
            <param name="detected_dead_band" value="$(arg detected_dead_band)" />
            <param name="global_to_local" value="$(arg global_to_local)" />
            <param name="alt_offset_m" value="$(arg alt_offset_m)" />
            <param name="target_height_m" value="$(arg target_height_m)" />
            <param name="detection_tool_lidar" value="$(arg detection_tool_lidar)" />
            <param name="detection_tool_gps" value="$(arg detection_tool_gps)" />
            <param name="detection_tool_airsim" value="$(arg detection_tool_airsim)" />
        </node>

        <node name="visualize_control_node" pkg="control" type="visualize_control_node" output="screen">
            <param name="ugv_name" value="$(arg ugv_name)" />
            <param name="uav_name" value="$(arg uav_name)" />
        </node>

        <node pkg="control" type="checker_node" name="checker_node" output="screen"/>

        <node pkg="control" type="tf_broadcaster_node" name="tf_broadcaster_node" output="screen">
            <param name="is_finding_home" value="$(arg is_finding_home)" />
            <param name="target_height_m" value="$(arg target_height_m)" />
        </node>
    </group>
</launch>
