<launch>
	<!-- common -->
	<arg name="output" default="screen"/>
	<arg name="use_sim_time" default="false"/>
	<param name="use_sim_time" value="$(arg use_sim_time)"/>

	<!-- generate_waypoints_node -->
	<arg name="x_offset_m" default="2.0" />
	<arg name="z_offset_m" default="10.0" />
	<arg name="ugv_name" default="GV" />
	<arg name="distance_threshold" default="0.1"/>
	<arg name="target_wp_pub_interval" default="0.05" />
	<arg name="detected_dead_band" default="0.5" />
	<arg name="global_to_local" default="false" />
	<arg name="alt_offset_m" default="45.0" />
	<arg name="target_height_m" default="1.0" />

	<!-- visualize_control_node -->
	<arg name="uav_name" default="PX4" />

	<!-- tf_broadcaster_node -->
	<arg name="is_finding_home" default="false"/>


	<node pkg="control" type="generate_waypoints_node" name="generate_waypoints_node" output="$(arg output)">
		<param name="x_offset_m" value="$(arg x_offset_m)" />
		<param name="z_offset_m" value="$(arg z_offset_m)" />
		<param name="ugv_name" value="$(arg ugv_name)" />
		<param name="distance_threshold" value="$(arg distance_threshold)" />
		<param name="target_wp_pub_interval" value="$(arg target_wp_pub_interval)" />
		<param name="detected_dead_band" value="$(arg detected_dead_band)" />
		<param name="global_to_local" value="$(arg global_to_local)" />
		<param name="alt_offset_m" value="$(arg alt_offset_m)" />
		<param name="target_height_m" value="$(arg target_height_m)" />
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
	</node>

    <include file="$(find control)/launch/tf_broadcaster_node.launch">
		<arg name="is_finding_home" value="$(arg is_finding_home)" />
	</include>

	<node pkg="control" type="visualize_control_node" name="visualize_control_node" output="$(arg output)" >
		<param name="ugv_name" value="$(arg ugv_name)" />
		<param name="uav_name" value="$(arg uav_name)" />
		<param name="target_height_m" value="$(arg target_height_m)" />
	</node>

	<!-- <node pkg="tf" type="static_transform_publisher" name="world_ned_to_PX4" args="0 0 0 0 0 0 world_ned GV 100"/>
	<node pkg="tf" type="static_transform_publisher" name="ned_to_enu_pub" args="0 0 0 1.57 0 3.14 world_ned world_enu 100"/> -->
</launch>
