<?xml version="1.0"?>
<launch>
	<arg name="setpoint_pub_interval" default="0.05" />
    <arg name="is_debug_mode" default="false" />

    <node name="mavros_offb_node" pkg="control" type="mavros_offb_node" output="screen">
        <param name="setpoint_pub_interval" value="$(arg setpoint_pub_interval)" />
        <param name="is_debug_mode" value="$(arg is_debug_mode)" />
    </node>
</launch>